<div class="container">
    <h1 class="text-center">Welcome to MovieBucket!</h1>

    <div class="screenshot-card">
        <img class="screenshot-img" src="./images/screenshot.PNG" alt="">
    </div>
    <div class="site-info">
        <p>
            MovieBucket is a place where people can create and maintain their movie collection. Users can search for movies to add to
            their collection, and also view more information about the movies in their collection.
        </p>
        <p>
            Movies are searched according to entires in the IMDB.  Movie information is also obtained from the IMDB.
        </p>
        <p>
            Users are required to make an account to create their own movie list.
        </p>
    </div>

</div>